---
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
import Button from '../../ui/Button.astro'
import Header from '../../ui/Header.astro'
import { Image } from 'astro:assets'
import screenshot from '../../../assets/hero/screenshot.svg'

type Props = {
	title?: string
	subtitle?: string
	text?: string
	titleSpan?: string
	buttonText?: string
	buttonLink?: string
	buttonClasses?: string
	classes?: string
	image?: any
}
const {
	title = '',
	text = '',
	subtitle = '',
	buttonText = '',
	buttonClasses = 'w-full lg:w-auto',
	buttonLink = '/',
	classes = '',
	image
} = Astro.props

const heroImage = image ?? screenshot
---

<Section classes={`${classes ? classes : ''}`} spacerTop={true}>
	<Row classes="gap-y-0!">
		<Col span="12" classes="pt-16 lg:pt-24">
			<Header
				title={title}
				subtitle={subtitle}
				classes="text-center"
				titleWidth="mx-auto max-w-4xl"
			/>
			{text && <p class="mx-auto mt-6 max-w-4xl px-6 text-center text-xl leading-9 lg:px-8">{text}</p>}
		</Col>

		<Col
			span="12"
			classes=" bg-[url('/bgs/dot-gray-light.svg')] bg-size-[18px] bg-fixed dark:bg-[url('/bgs/dot-gray-dark.svg')] "
		>
			<div class="my-10 flex justify-center">
				<Button classes={buttonClasses} link={buttonLink}>{buttonText}</Button>
			</div>
			<div data-parallax-offset="80" class="parallax">
				<Image
					src={heroImage}
					alt="PCCoE IEEE Summer School"
					class="mx-auto block"
					decoding="async"
					loading="eager"
					fetchpriority="high"
					width={1280}
					inferSize
				/>
			</div>
		</Col>
	</Row>
</Section>
